h1{
  font-size: 120%;
}
/* Header*/
img{
     opacity: 0.7;
     width: 100%;
}

h2 {
   position: absolute;
   top:0%;
   font-size: 300%;
   right:10%;
   text-transform: uppercase;
   color: white;
   font-family: Goudy Old Style;
   text-shadow: 2px 2px #8c8c8c;

}

body{
   background-image: url("bakgrunn1.jpg");
}
.hovedinnhold{
  width:80%;
  position: absolute;
  left:10%;
}

.bakgrunn{
  background-color: white;
}

header{
  position: relative;
  width:100%;
  top:0%;
}
/*Meny*/
nav ul {
    list-style-type: none;
    width:100%;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

nav li {
    float: left;
}

nav li a, .oblig {
    display: block;
    color: white;
    text-align: center;
    width:11em;
    padding: 10px 12px;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 150%
}

nav li a:hover, .nedtrekk:hover .oblig {
    background-color:#ccccb3;
}

nav li.nedtrekk {
    display: inline-block;
}

.ddl{
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ddl a {
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nedtrekk:hover .ddl {
    display: block;
}

aside{
  width:20%;
  height:50em;
  align:left;
  background-color: grey;
}

section{
  margin-left: 40%;
}

#booking{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 14px;
  border-style: solid;
}

.img-hytte{
  width: 40%;
  opacity: 1;
}

footer{
  width:100%;
  height:50%;
  background-color: grey;
}
