
/* ****** Denne CSS-filen inneholder CSS for pc-skjerm, mobil, iPad og print*****/

h2{
  font-size: 120%;
}
/* Header*/
img{
     opacity: 0.7;
     width: 100%;
}

/*Tekst i header*/
h1 {
   position: absolute;
   top:0%;
   font-size: 200%;
   right:10%;
   text-transform: uppercase;
   color: white;
   font-family: Goudy Old Style;
   text-shadow: 2px 2px #708090;
}
header{
  position: relative;
  width:100%;
  top:0%;
}

/*Tekst i små-artikler*/
h3{
  text-align: center;
  color: #2F4F4F;
}

p.infotekst1{
  font-size: 100%;
  text-align: center;
  padding-left: 0%;
  padding-right: 5%;
}

p.infotekst{
  font-size: 100%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#overskrifter{
  text-align: center;
  font-size: 120%;
  color: #2F4F4F;
}

/*Bakgrunnsbilde på hele siden*/
body{
   background-image: url("bakgrunn4.jpg");
   background-repeat: no-repeat;
}

/*Det sentrerte innholder*/
.hovedinnhold{
  width:70%;
  height:auto;
  position: absolute;
  left:15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

/*Meny*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #708090;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

ul li ul
    {
    display:none;
    position:absolute;
    background-color: #708090;
    }

ul li:hover ul{
  display: inline-block;
}

li a:hover:not(.active) {
    background-color: white;
    color: black;
}

.active {
    background-color: #708090;
    color: black;
}

nav li.nedtrekk {
    display: inline-block;
      margin-left: 0px;
}

.ddl{
    display: none;
    position: absolute;
    background-color: #708090;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ddl a {
    color: #f2f2f2;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.nedtrekk:hover .ddl {
    display: block;
}

.omOss {
    background-color: #2F4F4F;
    color: white;
  }

/*Bokser rundt artiklene*/
.box{
   float: left;
   margin-left: 0%;
   margin-top: 0%;
   padding: 0%;
   border:1px solid grey;
}

.box1{
  margin-left: 0%;
  margin-top: 0%;
  padding: 0%;
  border:1px solid grey;
}

.box2{
  width:36%;
  border:1px solid grey;
  margin-left: 0%;
  float: left;
}

.box3{
  width:36%;
  border:1px solid grey;
  margin-left: 0%;
  float: right;
}

aside{
  height:auto;
  width: 15em;
  text-align:left;
  background-color: #708090;
}

/*Booking-skjema*/
#booking{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-size: 14px;
  border-style: solid;
  border-color: #2F4F4F;
}

/*Største bildet*/
.img-hytte{
  opacity: 1;
  display: block;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:70%;
}

/* Småbilder i artiklene*/
.littlepic{
  opacity: 1;
  display: block;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:60%;
}

#map{
  margin-left: 0px;
  margin-right: 0px;
  border-style: solid;
  border-color: #2F4F4F;
}

iframe{
  width:100%;
  height:100%;
  border-style: none;
  overflow: hidden;
}

footer{
  width:100%;
  height:auto;
  background-color: #708090;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Info i footeren*/
.info1{
  padding-top: 1%;
  margin-left: 1%;
  float:left;
  text-align:center;
}

.info2{
  padding-top: 1%;
  margin-left: 30%;
  float:left;
  text-align:center;
}

.info3{
  padding-top: 1%;
  margin-right: 1%;
  float:right;
  text-align:center;
}

/*Bilder/logoer */

.print{
  display: none;
}

.rss{
  width: 30px;
  height: 30px;
  float: right;
}

.face{
  width: 30px;
  height: 30px;
  float: right;
}

.twitter{
  width: 30px;
  height: 30px;
  float: right;
}


/* ***** CSS for iPad ****** */

@media screen and (max-width : 768px){
  aside{
    display: none;
  }

  .box2{
    width: 49%;
    border-style: none;
  }

  .box3{
    width: 49%;
  }

 h2{
  font-size: 170%;
 }

 .info1{
  margin-left: 1%;
  font-size: 70%;
 }

 .info2{
  margin-left: 25%;
  font-size: 70%;
 }

 .info3{
  margin-right: 1%;
  font-size: 70%;
 }

 .hovedinnhold{
  width: 100%;
  left: 0%;
 }

}

/* ******CSS for mobilskjerm***** */

@media  only  screen  and (max-width  : 640px)  {
  .box{
    display: none;
  }

  h2{
    margin-top: 2%;
    font-size: 100%;
  }
  .img-hytte, .littlepic{
    width:100%;
  }

  p.infotekst,p.infotekst1{
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
  }

  h1{
    text-align: center;
  }

  .box2, .box3{
    width:100%;
  }

  .info1, .info3{
    width:100%;
    font-size: 60%;
  }
  .info2{
    margin-left: 1%;
    width:100%;
    font-size: 60%;
  }

  .hovedinnhold{
    width:100%;
    left:0%;
  }
 }

/* ******CSS for print****** */
 @media print{
  .bilde{
    display: none;
  }

  h1{
    color: black;
    font-size: 40px;
    margin-top: 0px;
  }
  h2, h3{
    color: black;
  }
  #overskrifter{
    color:black;
  }
  .aktuelt{
    display: none;
  }

  aside{
    display: none;
  }

  .menu{
    display: none;
  }

  .info3{
    display: none;
  }

  .box2, .box3{
    width: 49%;
  }

  .rss{
    display: none;
  }

  .face{
    display: none;
  }

  .twitter{
    display: none;
  }
 }
